<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
   
      <class name="TestNG1.Practice4_testsuit">
      <methods>
      <include name ="TC02"/> 
      </methods>
      </class>
      
      <class name="TestNG1.Practice3_TestSuit">
      <methods>
      
      <exclude name = "TC10"/> 
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



